
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
PrimaryNav{
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
          width: 100%;
        }
      }
}
.logo{
    margin-top: -30px;
    font-size: 30px;
    font-style: italic;
    font-family: 'Rubik Moonrocks', cursive;
    color: #0066b2;
}
.logo h1{
    /* padding-left: 45px; */
}




/* mobile views only */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      
    }
    .logo h1{
        padding-left: 50px;
    }
  }